
<article class='all-reservations'>
  <section>
    <h4> Current and Upcoming Reservations </h4>
    <ul class='reservation-info'>
      <% present_reservations = present_reservation(@reservations) %>
      <% present_reservations.first(10).each do |reservation| %>
        <%= render partial: 'shared/reservation-list', locals: { var: reservation } %>
      <% end %>
    </ul>
  </section>

  <section>
    <h4>Past Reservations</h4>
    <ul class='past-reservations'>
      <% past_reservations = past_reservation(@reservations) %>
      <% past_reservations.each do |reservation| %>
        <%= render partial: 'shared/reservation-list', locals: { var: reservation } %>
      <% end %>
    </ul>
  </section>
</article>
