<h4 class='room-show-header'> Room: <%= @room.id %> </h4>

<ul>
  <% @room.reservations.each do |reservation| %>
  <%= render partial: 'shared/reservation-list', locals: { var: reservation } %>
  <% end %>
</ul>
