/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-icon {
  height: 8vh;
}

header h2 {
  font-size: 2.5em;
  padding-left: 2vw;
  padding-right: 2vw;
}

li {
  list-style-type: none;
  margin-bottom: 2rem;
}

main {
  margin-top: 10vh;
  margin-left: 2vw;
  min-height: 92vh;
}

.all-reservations {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 60vw 40vw;
}

.room-show-header {
  font-size: 2em;
  font-weight: bold;
}

.errors {
  width: 30vw;
  color: rgb(203, 126, 35);
}

.new_reservation {
  margin: 10vh 0vw;
}

#root {
  display: grid;
  grid-template: 2fr 2fr / 4fr 2fr;
}

#root > section {
  grid-row: span 2;
}

#root aside {
  background-color: rgba(238, 113, 113, 1);
  grid-column-start: 2;
  grid-row: 1;
  padding: 4vh 3vw;
}

i {
    border: solid rgb(132, 131, 133);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}
